#aboutus {
    #section1 {
        width: 100%;
        height: 75vh;
        background-image: linear-gradient(rgba(20, 44, 79, 0.3), rgba(20, 44, 79, 0.3)), url(../assets/about-us/About-Us-banner.png); // background: url('../assets/about-us/About-Us-banner.png') center center;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        @media screen and (max-width: 600px) {
            height: 80vh;
        }
        @media only screen and (max-device-width: 1024px) and (min-device-width: 600px) and (orientation: portrait) {
            height: 60vh;
        }

        .banner-heading {
            font-family: 'Proximasemibold';
        }
        .white-para {
            @include paragraph(#fff,
            Proximathin,
            18px);
            line-height: 1.5;
            font-weight: normal;
            @media screen and (max-width: 600px) {
                font-size: 18px;
            }
            @media screen and (max-width: 320px) {
                font-size: 16px;
            }
        }
    }
    /*...common css...*/
    .pad-tb-70 {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    /*....end......*/
    #section3 {

        .core-values {
            .main-heading {
                @include headings($theme-color,
                Proximasemibold,
                20px,
                30px,
                center);
            }
            img {
                @media screen and (max-width: 600px) {
                    padding-top: 20px;
                }
            }
        }
    }
    #section3 {

        .pt-80 {
            @media screen and (max-width: 600px) {
                padding-top: 20px;
            }
        }
        .main-heading {
            font-size: 20px;
            text-align: center!important;
            @media screen and (max-width: 600px) {
                font-size: 18px;
            }
            @media screen and (max-width: 320px) {
                font-size: 18px;
            }
        }
        .team {
            .teamContent {
                /* p {
                    color: #4B555F;
                    font-family: Chivo;
                    font-size: 18px;
                } */
            }
            .tm-member {
                h6 {
                    color: #4B555F;
                    font-family: 'Chivo-Bold';
                    font-size: 14px;
                    padding-top: 20px;
                    margin: 0px;
                    @media screen and (max-width: 768px) {
                        font-size: 10px;
                    }
                }
                p {
                    color: #4B555F;
                    font-family: 'Chivo';
                    font-size: 14px;
                    @media screen and (max-width: 768px) {
                        font-size: 11px;
                    }
                }
            }
        }
    }
    #section4 {
        .bg-blue-colr {
            background-color: $theme-color;
        }
        .partner-div {
            padding: 30px 0px;
            @media screen and (max-width: 767px) {
                padding: 30px;
            }
            h3 {
                color: #FFFFFF;
                font-family: CaslonCP;
                font-size: 45px;
                padding-bottom: 10px;
            }
            p {
                color: #FFFFFF;
                font-family: Chivo;
                font-size: 18px;
            }
        }
    }
    #section6,
    #team-slider {
        .container-img {
            height: 45vh!important;
        }

        .box-top {
            position: absolute;
            bottom: 0;
            left: 35px;
            h3 {
                font-family: 'Proxima Nova';
                font-size: 24px;
                font-weight: 600;
                color: #fff;
                margin-bottom: 0;
            }
            p {
                font-family: "Proxima Nova";
                font-size: 16px;
                color: #fff;
                margin-top: 0;
            }
        }
    }
    #team-slider {
        .swiper-button-next {
            background-image: url(../assets/fleet-management/mobile-blogs/arrow-blog-next.svg);
            background-size: 32%;
            right: -37px;
            top: 50%;
            background-color: transparent;
            height: 30px;
            border-radius: 50%;
            width: 30px;
            @media screen and (max-width: 600px) {
                right: 0px;
            }
        }
        .swiper-button-prev {
            background-image: url(../assets/fleet-management/mobile-blogs/arrow-blog-prev.svg);
            background-size: 32%;
            left: -37px;
            top: 50%;
            background-color: transparent;
            height: 30px;
            border-radius: 50%;
            width: 30px;
            @media screen and (max-width: 600px) {
                left: 0px;
            }
        }
    }
}