    #blog-banner {
        width: 100%;
        height: 75vh;
        background-image: url('../assets/partner-with-us/partner-home.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        .height-75v {
            height: 75vh;
        }
    }

    #individual-banner {
        width: 100%;
        height: 75vh;
        background: linear-gradient(rgba(52, 58, 64, 0.7), rgba(52, 58, 64, 0.7)), url('../assets/about-us/About-Us-banner.png'); // background-image: url('../assets/partner-with-us/partner-home.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        .height-75v {
            height: 75vh;
        }
    }

    #latest-blog {
        .blog-backg {
            a {
                text-decoration: none;
            }
        }
    }

    #blog-individual {
        .image p {
            color: #A1A1A1!important;
            font-family: 'Montserrat', sans-serif;
            font-size: 0.75rem!important;
            font-weight: 300!important;
            letter-spacing: 1px!important;
            line-height: 15px!important;
            text-align: left!important;
        }
        hr.parent {
            margin-bottom: 2rem;
        } // h1 {
        //     color: #fff;
        //     font-family: 'Montserrat', sans-serif;
        //     font-size: 2.5rem;
        //     line-height: 49px;
        //     padding: 20px 0px;
        //     font-weight: 600;
        // }
        p:nth-child(1) {
            color: $theme-color;
            font-family: 'Chivo';
            font-size: 1.5rem;
            line-height: 33px;
            text-align: center;
        }
        p:nth-child(2) {
            color: #373737;
            font-family: 'Chivo';
            font-size: 0.75rem;
            letter-spacing: 2px;
            line-height: 14px;
            text-align: center;
        }
        ul {
            padding: 0;
        }
        ul li {
            list-style-type: none;
            text-align: center;
            border: 1px solid #A6AEBA;
            border-radius: 50%;
            display: block;
            width: 30px;
            height: 30px;
            margin: auto;
            line-height: 2;
            margin-bottom: 20px;
        }
        svg {
            box-sizing: border-box;
            height: 15px;
            width: 15px;
        } // h2 {
        //     color: #373737;
        //     font-family: 'Montserrat', sans-serif;
        //     font-size: 1.3rem;
        //     font-weight: bold;
        //     line-height: 23px;
        // }
        h4 {
            font-family: 'Chivo';
            font-size: 0.875rem;
            font-weight: bold;
            letter-spacing: 1px;
            line-height: 19px;
            text-align: left;
            font-weight: 800;
        }
        h5 {
            @include paragraph(#4B555F,
            Chivo,
            1.125em);
            line-height: 25px;
        }
        h5.date {
            color: $theme-color;
            font-family: 'Chivo';
            font-size: 0.875em;
            line-height: 20px;
            font-weight: 600;
            letter-spacing: 2px;
            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
                font-size:0.625em;
            }
        }
        h5.blog_links {
            color: $theme-color;
            font-family: Chivo;
            font-size: 0.875em;
            line-height: 20px;
            font-weight: bold;
            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
                font-size:0.625em;
            }
        }
        .vw-nxt-blog {
            padding: 50px 0px;
            h5 {
                color: $theme-color;
                font-family: 'Chivo';
                font-size: 0.8125rem;
                font-weight: 600;
                letter-spacing: 3px;
                line-height: 16px;
                text-align: center;
                a {
                    text-decoration: none;
                    color: $theme-color;
                    font-weight: 600;
                }
                .fa-chevron-right:before {
                    color: $theme-color;
                }
            }
        }
        @media screen and (max-width: 500px) {
            h1 {
                font-size: 1rem;
                line-height: 22px;
            }
            h2 {
                font-size: 0.8rem;
                line-height: 20px;
            }
            h5 {
                font-size: 0.7rem;
            }
            h5.date,
            h5.blog_links {
                font-size: 0.75rem;
            }

            p:nth-child(2) {
                font-size: 0.5rem;
            }
        }
        @media screen and (max-width: 768px) {
            h1 {
                font-size: 1.3rem;
                line-height: 30px;
            }
            h4,
            h5 {
                font-size: 0.7rem;
            }
            h2 {
                font-size: 1rem;
            }
            h5.date,
            h5.blog_links {
                font-size: 0.625rem;
            }
            .vw-nxt-blog h5 {
                font-size: 0.5rem;
            }
        }
    }