#smartCity {
    #section6 {
        .content-details {
            -webkit-transform: translate(-47%, -50%);
            -moz-transform: translate(-47%, -50%);
            -ms-transform: translate(-47%, -50%);
            -o-tranform: translate(-47%, -50%);
            transform: translate(-47%, -50%);
            -webkit-transition: all 0.3s ease-in-out 0s;
            -moz-transition: all 0.3s ease-in-out 0s;
            -ms-transition: all 0.3s ease-in-out 0s;
            -o-transition: all 0.3s ease-in-out 0s;
        }
    }
    #section1 {
        width: 100%;
        height: 75vh;
        background-image: linear-gradient(rgba(20, 44, 79, 0.7), rgba(20, 44, 79, 0.7)), url('../assets/smartcity/Banner.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        @media screen and (max-width: 600px){
            height: 80vh;
        }
        @media only screen and (max-device-width: 1024px) and (min-device-width: 600px) and (orientation: portrait) {
            height: 60vh;
        }
        .banner-heading {
            font-family: 'Proximasemibold';
        }
        .white-para {
            @include paragraph(#fff,
            Proximathin,
            18px);
            line-height: 1.5;
            font-weight: normal;
            @media screen and (max-width: 600px) {
                font-size: 18px;
            }
            @media screen and (max-width: 320px) {
                font-size: 16px;
            }
        }
    }
    #section2 {
        .approach {
            margin: 0px;
            padding: 10px;
            span {
                padding: 15px 40px;
                border: 2px solid #142C4F;
                color: #142C4F;
                font-family: 'Proximasemibold';
                font-size: 30px;
                text-transform: uppercase;
                @media only screen and (max-width: 600px) {
                    font-size: 20px;
                }
            }
        }
        .box {
            padding: 15px;
            border-right: 0.5px solid #979797;
            text-align: right;
            /*@media only screen and (max-width: 768px) {
                border-right: none;
            }*/
            .brdr-btm {
                border-bottom: 1px solid #142C4F;
            }
            .ct-heading {
                color: #142C4F;
                font-family: 'Proxima Nova';
                font-size: 28px;
                font-weight: 900;
                text-transform: uppercase;
                /*@media only screen and (max-width: 768px) {
                    font-size: 18px;
                }*/
            }
            .ct-content {
                padding: 30px 0px 20px;
                min-height: 150px;
                /*@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation : landscape) {
                    min-height: 220px;
                }
                @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation : portrait) {
                    min-height: 220px;
                }
                @media only screen and (min-width: 600px) and (max-width: 960px) and (orientation : landscape) {
                    min-height: 250px;
                }*/
                img {
                    width: 80px;
                    height: 80px;
                }
                p:nth-child(1) {
                    color: #142C4F;
                    font-family: "Proxima Nova";
                    font-size: 24px;
                    font-weight: 600;
                    margin: 0px
                }
                /*@media only screen and (max-width: 768px) {
                    p:nth-child(1) {
                        font-size: 16px;
                    }
                }*/
                p:nth-child(2) {
                    color: #4B555F;
                    font-family: "Proxima Nova";
                    font-size: 16px;
                }
                /*@media only screen and (max-width: 768px) {
                    p:nth-child(2) {
                        font-size: 14px;
                    }
                }*/
            }
        }
        .box-right {
            padding: 15px;
            border-left: 0.5px solid #979797;

            .brdr-btm {
                border-bottom: 1px solid #142C4F;
            }
            .ct-heading {
                color: #142C4F;
                font-family: 'Proxima Nova';
                font-size: 28px;
                font-weight: 900;
                text-transform: uppercase;
                /*@media only screen and (max-width: 768px) {
                    font-size: 18px;
                }*/
            }
            .ct-content {
                padding: 30px 0px 20px;
                min-height: 150px; // img {
                //     width: 80px;
                //     height: 80px;
                // }
                p:nth-child(1) {
                    color: #142C4F;
                    font-family: "Proxima Nova";
                    font-weight: 600;
                    font-size: 24px;
                    margin: 0px
                }
                /*@media only screen and (max-width: 768px) {
                    p:nth-child(1) {
                        font-size: 16px;
                    }
                }*/
                p:nth-child(2) {
                    color: #4B555F;
                    font-family: "Proxima Nova";
                    font-size: 16px;
                }
                /*@media only screen and (max-width: 768px) {
                    p:nth-child(1) {
                        font-size: 14px;
                    }
                }*/
            }
        }
    }
    #section6 {
        .view-more {
            @include theme-btnwht(#fff,
            $theme-color,
            1em,
            'Proximasemibold',
            0,
            uppercase);
            letter-spacing: 0.5px;
            font-size: 12px!important;
            font-weight: 600;
        }
    }
    #section3 {
        background-color: #F6FAFD;

        .r-tabs-nav {
            border-bottom: 1px solid #979797;
        }
        #horizontalTab {
            @media only screen and (max-device-width: 1024px) and (min-device-width: 600px) and (orientation: portrait) {
                padding-top: 20px;
            }
            @media only screen and (max-device-width: 1024px) and (min-device-width: 600px) and (orientation: portrait) {
                .subheading {
                    font-size: 16px!important;
                }
            }
        }
        /*.nav-tabs{
            .nav-item {
                margin: 0px;
                padding: 25px 25px 0px 0px;
            }
            .nav-link {
                padding: 0px;
                color: #4B555F; 
                font-family: "Proxima Nova";    
                font-size: 18px;
                border:none;
                background-color: transparent;
            }
            .nav-item.show .nav-link, .nav-link.active {
                border-bottom: 2px solid #142C4F;
                color: #142C4F;
            }
        } */
        .tab-box {
            text-align: center;
            color: #4B555F;
            font-family: "Proxima Nova";
            font-size: 18px;
            padding: 25px 0px;
            img {
                width: 80px;
                height: 80px;
            }
            h4 {
                font-weight: bold;
                font-family: 'Proximasemibold';
                margin: 20px 0px;
                min-height: 42px;
                font-size: 18px;
            }
            p {
                color: #4B555F;
                font-family: "Proxima Nova";
                font-size: 18px;
            }
        }
        @media only screen and (max-width: 600px) {
            .m-col {
                flex-basis: auto;
            }
        }
    }
    #section4 {
        background-color: #F6FAFD;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    #smartCity {
        #section2 {
            .box-right,
            .box {
                .ct-content {
                    min-height: 220px;
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    #smartCity {
        #section2 {
            .box-right,
            .box {
                .ct-content {
                    min-height: 235px;
                }
                /*border-left: 0.5px solid #979797;*/
            }
        }
    }
}

@media only screen and (min-width: 600px) and (max-width: 960px) and (orientation: landscape) {
    #smartCity {
        #section2 {
            .box-right,
            .box {
                .ct-content {
                    min-height: 250px;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    #smartCity {
        #section2 {
            .box-right,
            .box {
                border-left: none;
                border-right: none;
                .ct-content {
                    p:nth-child(1) {
                        font-size: 16px;
                    }
                    p:nth-child(2) {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}