#contact-bg {

    background-image: url('../assets/contact-us/BG_pattern.png');

    #contact {
        padding-top: 50px;
        padding-bottom: 50px;
        h5 {
            color: $theme-color;
            font-family: Chivo;
            font-size: 1.125em;
            font-weight: bold;
        }
        .form-box {
            background-color: #F6FAFD;
            padding: 40px;
        }

        .form-control {
            border: none;
            border-radius: 0;
            border-bottom: 1px solid #979797;
            background: transparent;
            margin-bottom: 60px;
            color: #4B555F;
            font-family: Chivo;
            &:focus {
                box-shadow: none;
            }
        }
        a.subheading {
            @include paragraph(#4B555F,'Chivo',1.125em);
            &:hover, &:focus {
                text-decoration:none;
            }
            @media screen and (max-width: 600px) {
                font-size: 0.938em!important;
            }
            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
                font-size: 0.938em!important;
            }
        }
    }
}