#contact-img {
	width: 100%;
	height: auto;
	background-image: url('../assets/contact-us/BG_pattern.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	h5 {
        color: $theme-color;
        font-family: 'Proxima Nova';
        font-size: 1.125em;
        font-weight: bold; 
    }
    .form-box {
        background-color: #fff;
        padding: 40px;
        @media screen and (max-width: 600px) {
            padding: 0px;
        }

    }

    .form-control {
        border: none;
        border-radius: 0;
        border-bottom: 1px solid #979797;
        background: transparent;
        margin-bottom: 60px;
        color: #4B555F;
        font-family: 'Proxima Nova';
        &:focus {
            box-shadow: none;
        }
         @media screen and (max-width: 600px) {
            margin-bottom: 30px;
        }
    }
    a.subheading {
        @include paragraph(#4B555F,'Proxima Nova',1.125em);
        &:hover, &:focus {
            text-decoration:none;
        }
        @media screen and (max-width: 600px) {
            font-size: 0.938em!important;
        }
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
            font-size: 0.938em!important;
        }
    }
}
#location {
	background-color: #F6FAFD;
	
	h5 {
        color: $theme-color;
        font-family: 'Proximasemibold';
        font-size: 18px;
        font-weight: 900;
    }
    .r-tabs {
    	.r-tabs-panel {
			padding: 35px 0px!important;
    	}
    }
    a.subheading {
            @include paragraph(#4B555F,"Proxima Nova",1.125em);
            &:hover, &:focus {
                text-decoration:none;
            }
            @media screen and (max-width: 600px) {
                font-size: 0.938em!important;
            }
            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
                font-size: 0.938em!important;
            }
        }
	.r-tabs-nav {
		border-bottom: 1px solid #979797;
	}
	
	.tab-box {
		text-align:center;
		color: #4B555F;	
		font-family: "Proxima Nova";	
		font-size: 18px;
		padding: 25px 0px;
		img {
			width: 80px;
			height: 80px;
		}
		h4 {
			font-weight: bold;
			margin: 20px 0px;
			min-height: 60px;
		}
	}
	@media only screen and (max-width: 600px) {
		.m-col {
			flex-basis: auto;
		}
	}
}
#map {
	height: 60vh;
}