.r-tabs .r-tabs-nav {
    margin: 0;
    padding: 0;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.r-tabs .r-tabs-tab {
    display: inline-block;
    margin: 0;
    padding: 25px 50px 0px 0px;
    list-style: none;
}






/*.r-tabs-state-active {
    content: "\f068";
    font-size: 13px;
   
}*/

a.r-tabs-anchor {
    display: inline-block;
    /*text-align: center;*/
    color: #4B555F;
    font-family: "Proxima Nova";
    font-size: 18px;
    /*font-weight: 700;*/
    padding: 0px;
    padding-bottom: 5px;
    border: none;
    border-bottom: 2px solid transparent;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

a.r-tabs-anchor:hover {
    border-bottom: 2px solid #142C4F;
    border-left: none;
    border-right: none;
    border-top: none;
    color: #142C4F;
    text-decoration: none;
}


li.r-tabs-tab {
    /*width: 20%;*/
    /*text-align: center;*/
    /*padding: 0px 0px 0px 20px;*/
}

.r-tabs .r-tabs-panel {
    padding: 15px 60px 0px 50px;
    display: none;
}

@media only screen and (min-width: 678px) and (max-width: 992px) and (orientation: portrait) {
    .r-tabs .r-tabs-panel {
        padding: 15px 30px 0px 30px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 960px) and (orientation: portrait) {
    .r-tabs .r-tabs-panel {
        padding: 0px;
    }
}

@media screen and (max-width: 500px) {
    .r-tabs .r-tabs-panel {
        padding: 0;
    }
}

.r-tabs .r-tabs-accordion-title {
    display: none;
}

.r-tabs .r-tabs-accordion-title a:after {
    content: "+";
    position: absolute;
    right: 15px;
    font-size: 20px;
}

.r-tabs-accordion-title.r-tabs-state-active a:after {
    content: "-";
    position: absolute;
    right: 15px;
    font-size: 20px;
}


.r-tabs .r-tabs-panel.r-tabs-state-active {
    display: block;
}

li.r-tabs-tab.r-tabs-state-active {
    font-weight: bold;
    font-family: 'Proxima Nova';
}







/* Active state tab anchor */

.r-tabs .r-tabs-nav .r-tabs-state-active .r-tabs-anchor {
    border-bottom: 2px solid #142C4F !important;
    border-color: #142C4F !important;
    color: #142C4F !important;
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
}









/* Accordion responsive breakpoint */


@media only screen and (max-width: 1024px) {
    a.r-tabs-anchor {
        font-size: 15px;
    }
}

@media only screen and (max-width: 768px) {
    li.r-tabs-tab {
        padding: 0px 0px 0px 10px;
    }
    a.r-tabs-anchor {
        font-size: 14px;
    }
}

@media only screen and (max-width: 600px) {
    .r-tabs .r-tabs-nav {
        display: none;
    }





    .r-tabs .r-tabs-accordion-title {
        display: block;
        border-bottom: 1px solid #ccc;
        text-align: left;
        padding: 10px 0px;
    }
    a.r-tabs-anchor:hover {
        border-bottom: none;
    }
}


@media only screen and (max-device-width: 1024px) and (min-device-width: 600px) and (orientation: portrait) {
    a.r-tabs-anchor {
        font-size: 16px;
    }
}