// ! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css

/* Document
   ========================================================================== */


/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
    line-height: 1.15;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}



























/* Sections
   ========================================================================== */


/**
 * Remove the margin in all browsers.
 */

body {
    margin: 0;
}



























/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}



























/* Grouping content
   ========================================================================== */


/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
    box-sizing: content-box;
    /* 1 */
    height: 0;
    /* 1 */
    overflow: visible;
    /* 2 */
}



























/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}



























/* Text-level semantics
   ========================================================================== */


/**
 * Remove the gray background on active links in IE 10.
 */

a {
    background-color: transparent;
}



























/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
    border-bottom: none;
    /* 1 */
    text-decoration: underline;
    /* 2 */
    text-decoration: underline dotted;
    /* 2 */
}



























/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
    font-weight: bolder;
}



























/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}



























/**
 * Add the correct font size in all browsers.
 */

small {
    font-size: 80%;
}



























/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}



























/* Embedded content
   ========================================================================== */


/**
 * Remove the border on images inside links in IE 10.
 */

img {
    border-style: none;
}



























/* Forms
   ========================================================================== */


/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: 1.15;
    /* 1 */
    margin: 0;
    /* 2 */
}



























/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
    /* 1 */
    overflow: visible;
}



























/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
    /* 1 */
    text-transform: none;
}



























/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}



























/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}



























/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}



























/**
 * Correct the padding in Firefox.
 */

fieldset {
    padding: 0.35em 0.75em 0.625em;
}



























/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
    box-sizing: border-box;
    /* 1 */
    color: inherit;
    /* 2 */
    display: table;
    /* 1 */
    max-width: 100%;
    /* 1 */
    padding: 0;
    /* 3 */
    white-space: normal;
    /* 1 */
}



























/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
    vertical-align: baseline;
}



























/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
    overflow: auto;
}



























/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}



























/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}



























/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
}



























/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}



























/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
}



























/* Interactive
   ========================================================================== */


/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
    display: block;
}



























/*
 * Add the correct display in all browsers.
 */

summary {
    display: list-item;
}



























/* Misc
   ========================================================================== */


/**
 * Add the correct display in IE 10+.
 */

template {
    display: none;
}



























/**
 * Add the correct display in IE 10.
 */

[hidden] {
    display: none;
}




@font-face {
    font-family: 'CaslonCP';
    src: url('../fonts/CaslonCP.woff') format('woff');
}

@font-face {
    font-family: 'Chivo-Black';
    src: url('../fonts/Chivo-Black.woff') format('woff');
}

@font-face {
    font-family: 'Chivo-BlackItalic';
    src: url('../fonts/Chivo-BlackItalic.woff') format('woff');
}

@font-face {
    font-family: 'Chivo-Bold';
    src: url('../fonts/Chivo-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Chivo-BoldItalic';
    src: url('../fonts/Chivo-BoldItalic.woff') format('woff');
}

@font-face {
    font-family: 'Chivo-Italic';
    src: url('../fonts/Chivo-Italic.woff') format('woff');
}

@font-face {
    font-family: 'Chivo-Light';
    src: url('../fonts/Chivo-Light.woff') format('woff');
}

@font-face {
    font-family: 'Chivo-LightItalic';
    src: url('../fonts/Chivo-LightItalic.woff') format('woff');
}

@font-face {
    font-family: 'Chivo';
    src: url('../fonts/Chivo-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova-Light.woff') format('woff');
}

@font-face {
    font-family: 'Proximaaltregular';
    src: url('../fonts/Proxima-Nova-Alt-Regular-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Proximathin';
    src: url('../fonts/Proxima-Nova-Thin-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Proximasemibold';
    src: url('../fonts/ProximaNova-Semibold.woff') format('woff');
}

@font-face {
    font-family: 'Proximaextrabold';
    src: url('../fonts/ProximaNova-Extrabold.woff') format('woff');
}

@font-face {
    font-family: 'Proximablack';
    src: url('../fonts/ProximaNova-Black.woff') format('woff');
}

@font-face {
    font-family: 'Proximaregular';
    src: url('../fonts/ProximaNova-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Proximabold';
    src: url('../fonts/ProximaNova-Bold_0.woff') format('woff');
}

$theme-color: #142C4F;



// button style
@mixin theme-btn($background-color,
$color,
$font-size,
$font-family,
$border-radius) {
    background-color: $background-color;
    color: $color;
    font-size: $font-size;
    font-family: $font-family;
    border-radius: $border-radius; // padding: 0.7rem 1.6rem;
    text-transform: uppercase;
    border: 2px solid transparent;
    line-height: 1;
    &:hover {
        background-color: #fff;
        color: $theme-color;
        border: 2px solid $theme-color;
    }
    @media screen and (max-width: 600px) {
        font-size: 0.7em;
        padding: 0.5rem 1rem;
    }
    @media screen and (max-width: 768px) {
        font-size: 0.7em;
        padding: 0.5rem 1rem;
    }
}

@mixin theme-btnwht($background-color,
$color,
$font-size,
$font-family,
$border-radius,
$text-transform) {
    background-color: $background-color;
    color: $color;
    font-size: $font-size;
    font-family: $font-family;
    border-radius: $border-radius;
    text-transform: $text-transform; // padding: 0.7rem 1.6rem;
    text-transform: $text-transform;
    border: 2px solid transparent;
    &:hover {
        background-color: $theme-color;
        color: #fff;
        border: 2px solid #fff;
    }

    @media screen and (max-width: 768px) {
        font-size: 0.7em;
        padding: 12px;
    }
    @media screen and (max-width: 600px) {
        font-size: 0.7em;
        padding: 10px;
    }
}

// Main heading
@mixin headings($color,
$font-family,
$font-size,
$margin-bottom,
$text-align) {
    color: $color;
    font-family: $font-family;
    font-size: $font-size;
    margin-bottom: $margin-bottom;
    text-align: $text-align;
    @media screen and (max-width: 600px) {
        font-size: 25px;
        margin-bottom: 0px!important;
    }
}

// banner heading
@mixin bannerhead($font-size,
$color,
$font-family,
$line-height) {
    font-size: $font-size;
    color: $color;
    font-family: $font-family;
    line-height: $line-height;
    font-weight: normal;
}

// paragraph
@mixin paragraph($color,
$font-family,
$font-size) {
    color: $color;
    font-family: $font-family;
    font-size: $font-size;
}

// sub heading
@mixin subhead($color,
$font-family,
$font-size) {
    color: $color;
    font-family: $font-family;
    font-size: $font-size;
}

// form input box
@mixin input-box($background-color,
$border-radius,
$font-size,
$padding) {
    background-color: $background-color;
    border-radius: $border-radius;
    border: 1.5px solid rgba(255, 255, 255, 0.5);
    font-size: $font-size;
    padding: $padding;
    color: #fff!important;
    &::-webkit-input-placeholder {
        color: #FFFFFF;
        font-family: 'Proxima Nova';
    }
    &::-moz-placeholder {
        color: #FFFFFF;
        font-family: 'Proxima Nova';
    }
    &:focus {
        background-color: #132c4e;
        box-shadow: none;
        border-color: rgba(255, 255, 255, 0.5)!important;
    }
}

// @mixin headings() {
//     color: #0054FB;
//     font-family: CaslonCP;
//     font-size: 48px;
//     line-height: 54px;
//     margin-bottom: 20px;
// }

/* .........common css for all page ........*/

h1.heading,
h2.heading {
    color: #0054FB;
    font-family: 'Proximasemibold';
    font-size: 45px;
}

// p.subheading {
//     color: #4B555F;
//     font-family: Chivo;
//     font-size: 18px;
// }
.pt-80 {
    padding-top: 80px;
}

.pt-100 {
    padding-top: 100px;
    @media screen and (max-width: 768px) {
        padding-top: 50px;
    }
}

.pdtop30 {
    padding-top: 30px;
}

.pt-75 {
    padding-top: 75px;
    padding-bottom: 75px;
}

.pb-90 {
    padding-bottom: 90px;
}

.pd-b-160 {
    padding-bottom: 160px;
    @media screen and (max-width: 768px) {
        padding-bottom: 60px;
    }
}

.pd-tb-160 {
    padding-top: 160px;
    padding-bottom: 160px;
    @media screen and (max-width: 768px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.pd-tb-100 {
    padding-top: 140px;
    padding-bottom: 150px;
    @media screen and (max-width: 768px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.blog-backg {
    background-color: #F6FAFD;
}



















/*......image overlay effect with the text..........*/

.content {
    position: relative;
    margin: auto;
    overflow: hidden;
}

.container-img {
    width: 100%;
    height: 65vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hvr-img {
    width: 100%;
    height: 40vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.blog-img {
    width: 100%;
    height: 70vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media screen and (max-width: 768px) {
        height: 50vh;
    }
}

.blog-img1,
.blog-img2 {
    width: 100%;
    height: 34vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.content {
    .content-overlay {
        background: $theme-color;
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        -webkit-transition: all 0.4s ease-in-out 0s;
        -moz-transition: all 0.4s ease-in-out 0s;
        -ms-transition: all 0.4s ease-in-out 0s;
        -o-transition: all 0.4s ease-in-out 0s;
        transition: all 0.4s ease-in-out 0s;
    }
}


.content:hover {
    .content-overlay {
        opacity: 0.7;
    }
}

.content-image {
    width: 100%;
}

.content {
    img {
        width: 100%;
    }
}

.content-details,
.content-blog,
.content-blog-2,
.content-blog-3 {
    position: absolute;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-tranform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.content:hover {
    .content-details,
    .content-blog,
    .content-blog-2,
    .content-blog-3 {
        top: 65%;
        left: 50%;
        opacity: 1;
        @media screen and (max-width: 600px) {
            top: 50%;
        }
    }
}

.bloghvr:hover {
    .content-details {
        top: 80%!important;
        left: 50%;
        opacity: 1;
        padding: 0px 50px;
    }
}

.content-details {
    h3 {
        color: #FFFFFF;
        font-family: "Proximaregular";
        font-size: 24px;
        font-weight: bold;
        color: #fff;
        margin-bottom: 0.5em;
        @media screen and (max-width: 600px) {
            font-size: 1.250em !important;
        }
    }
    p {
        color: #FFFFFF;
        font-family: "Proxima Nova";
        font-size: 14px;
        line-height: 1.4;
        @media screen and (max-width: 600px) {
            font-size: 0.938em !important;
        }
    }
}

.content-blog,
.content-blog-2,
.content-blog-3 {
    h3 {
        color: #FFFFFF;
        font-family: 'Proximasemibold';
        font-size: 18px;
        color: #fff;
        margin-bottom: 0.5em;
        @media screen and (max-width: 600px) {
            font-size: 12px!important;
        }
    }
    p {
        color: #FFFFFF;
        font-family: "Proxima Nova";
        font-size: 14px;
        margin: 0px;
        @media screen and (max-width: 600px) {
            font-size: 12px !important;
        }
    }
}

.fadeIn-bottom {
    top: 80%;
}



#contact-form {
    width: 100%;
    height: auto;
    background-image: url('../assets/partner-with-us/become-a-partner-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .bc-partnerbox {
        h3 {
            color: #FFFFFF;
            font-family: 'Proxima Nova';
            font-size: 45px;
            padding-bottom: 10px;
        }
        p {
            color: #FFFFFF;
            font-family: 'Proxima Nova';
            font-size: 16px;
            @media only screen and (max-width: 600px) {
                font-size: 14px;
            }
        }
        label {
            color: #FFFFFF;
            font-family: 'Proxima Nova';
            font-size: 12px;
        }
        .btn-subscribe {
            @include theme-btnwht(#fff,
            $theme-color,
            1em,
            'Proximasemibold',
            0,
            uppercase);
            width: 100%;
            padding: 10px;
            margin-top: 10px;
            line-height: 1;
        }
    }
}


// thanku modal
.thanku-modal.modal {
    top: 150px!important;
}

.thanku-modal {

    h2 {
        color: #142C4F;
        font-family: "Proximasemibold";
        font-size: 35px;
    }
    .modal-header {
        border: none;
    }
    .close {
        padding: 10px 15px!important;
        &:focus {
            outline: none;
            box-shadow: none;
        }
    }
    .modal-content {
        border-radius: 7px;
    }

    .modal-lg {
        max-width: 900px;
    }
}

#mobile-section {

    #accordion {
        .btn-link {
            color: #4B555F;
            font-family: "Proxima Nova";
            font-size: 18px;
            text-transform: uppercase;
            &:hover {
                text-decoration: none;
            }
        }
        .card {
            border: none;
            margin-bottom: 6px;
            border-radius: 0;
            .para {
                font-size: 15px;
                @media only screen and (max-width: 600px) {
                    font-size: 16px;
                }
                @media only screen and (max-device-width: 1024px) and (min-device-width: 600px) and (orientation: portrait) {
                    font-size: 18px;
                }
            }
        }
        .card-header {
            text-align: center;
            background-color: #F6FAFD;
            border: none;
            border-radius: 0;
        }
    }
}

.backimg {
    width: 100%;
    height: 60vh!important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.upper-box {
    position: absolute;
    padding: 0px 20px;
    bottom: 20px;
    @media only screen and (max-device-width: 1024px) and (min-device-width: 600px) and (orientation: portrait) {
        bottom:20px;
    }
    @media screen and (max-width: 600px) {
        padding: 0px 30px;
    }
    h3 {
        color: #FFFFFF;
        font-family: 'Proximasemibold';
        font-size: 18px;
        color: #fff;
        margin-bottom: 0.5em;
        @media screen and (max-width: 600px) {
            font-size: 14px!important;
        }
        @media only screen and (max-device-width: 1024px) and (min-device-width: 600px) and (orientation: portrait) {
            font-size: 16px!important;
        }
    }
    p {
        color: #FFFFFF;
        font-family: "Proxima Nova";
        font-size: 14px;
        margin: 0px;
        @media screen and (max-width: 600px) {
            font-size: 14px !important;
        }
    }
}



#error-page {
    .para {
        font-size: 20px;
        @media screen and (max-width: 600px){
            font-size: 16px;
        }
        @media only screen and (max-device-width: 1024px) and (min-device-width: 600px) and (orientation: portrait) {
            font-size: 18px!important;
        }
    }
}