#footer {
    background-color: #4B555F;
    padding: 40px 0px;
    .footercontent {
        ul {
            list-style-type: none;
            display: block;
            @media screen and (max-width: 768px) {
                padding:0px;
            }
            li {
                display: inline-block;
                @media screen and (max-width: 768px) {
                    width: 48%;
                }
                a.nav-link {
                    font-family: 'Proximaregular';
                    color: #FFFFFF;
                    font-size: 16px;
                    letter-spacing: .7px;
                    @media screen and (max-width: 768px) {
                        font-size: .7rem;
                        text-align: left;
                    }
                }
            }
        }
    }

    .copyright {
        line-height: 0.8;
        text-align: center;
        color: #FFFFFF;
        font-size: 16px;
        font-family: 'Proxima Nova';
        font-weight: normal;
        letter-spacing: 0.7px;
        @media screen and (max-width: 768px) {
            font-size: .7rem;
        }
        p:after {
            position: absolute;
            width: 100%;
            content: " ";
            border-bottom: 1px solid #fff;
            left: 0;
            margin-top: 4px;
            margin-bottom: 0;
            opacity: 0.2;
        }
        p>span {
            position: relative;
            background: #4B555F;
            z-index: 999;
            padding: 0px 10px;
        }
    }
    .social-link>ul {
        display: block;
        list-style-type: none;
        margin: 0;
        padding: 0px;
        li.nav-item {
            display: inline-block;
            a.nav-link {
                padding: 6px;
                color: #FFFFFF;
            }
        }
        p {
            font-family: 'Proximasemibold';
            color: #FFFFFF;
            font-size: 16px;
            /* font-weight: 600; */
            padding-right: 15px;
            margin: 0px;
            letter-spacing: 0.3px;
        }
    }
}