#navigation {

    .navbar-toggler {
        border: none;
        background: transparent !important;
    }

    .navbar-toggler:focus {
        outline: none;
        background: transparent !important;
    }

    .navbar-toggler .icon-bar {
        background-color: #fff;
        transform: rotate(0deg) translate(0px, 0px);
        transition: ease all .2s;
    }

    .navbar-toggler .icon-bar {
        display: block;
        width: 25px;
        height: 2px;
        border-radius: 1px;
    }

    .navbar-toggler .icon-bar+.icon-bar {
        margin-top: 4px;
    }

    .icon-bar:nth-child(2) {
        width: 16px;
        transition: ease all .2s;
    }

    .navbar-toggler:hover>.icon-bar:nth-child(2) {
        width: 25px;
        transition: ease all .2s;
    }

    .navbar-toggler:active>.icon-bar:nth-child(2) {
        width: 25px;
        transition: ease all .2s;
    }

    .navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
        transform: rotate(45deg) translate(5px, 4px);
        transition: ease all .2s;
    }

    .navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
        opacity: 0;
        transition: ease all .2s;
    }

    .navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
        transform: rotate(-45deg) translate(4px, -4px);
        transition: ease all .2s;
    }

    .navbar-brand {
        svg {
            @media screen and (max-width: 600px) {
                width:150px!important;
            }
        }
    }
    /* header class for page career and contact us */
    .inner-nav {
        .navbar-light {
            .navbar-nav {
                .nav-link {
                    color: #132c4e;
                }
            } // svg {
            //     @media screen and (max-width: 600px) {
            //         width:150px;
            //     }
            // }
        }

        .navbar-light {
            .navbar-nav {
                li {
                    a.get-in-touch {
                        border: 1px solid #132c4e;
                    }
                }
            }
        }
        svg {
            .cls-1 {
                fill: #132c4e;
            }
        }
        a.nav-link {
            &::before {
                background: #132c4e;
            }
        }
        .navbar-light {
            .navbar-nav {
                .nav-link {
                    &:focus,
                    &:hover {
                        color: #132c4e;
                    }
                }
            }
        }
    }
    /* end */
    .navbar {
        padding: 1.5rem 1rem;
        background-color: transparent;
        @media screen and (max-width: 600px) {
            padding: 5px 15px;
        }
    }
    .active {
        background-color: #142C4F;
        -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
        -webkit-transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;
        -ms-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        transition: all ease 0.3s;
        padding: .2rem 1rem!important;
        @media screen and (max-width: 600px) {
            padding: 5px 15px!important;
        }
        .navbar-nav {
            a.nav-link {
                color: #FFFFFF!important;
                &::before {
                    background: #FFFFFF!important;
                }
            }
        }
        .navbar-nav {
            li {
                a.get-in-touch {
                    border: 1px solid #FFFFFF!important;
                }
            }
        }
        svg {
            .cls-1 {
                fill: #FFFFFF!important;
            }
        }
    }
    .navbar-light {
        .navbar-header {
            a {
                color: #ecf0f1;
            }
        }
        .navbar-toggler {
            border-color: #FFFFFF!important;
            border: 0px solid transparent;
            &:hover,
            &:focus {
                text-decoration: none;
                outline: none;
            }
        }
        .navbar-toggler-icon {
            background-image: none;
        }
        .navbar-nav {
            position: relative;
            li {
                min-width: 100px;
                text-align: center;
                padding: 0px 20px;
                a {
                    font-family: 'Proximaregular';
                    font-size: .8rem;
                    color: #FFFFFF;
                    text-transform: uppercase;
                    padding: 10px 0px;
                    font-weight: 900;
                    letter-spacing: .5px;
                    @media screen and (max-width: 1024px) {
                        font-size: .7rem;
                    }
                }
                a.get-in-touch {
                    border: 1px solid #fff;
                    padding: 10px!important;
                    &:focus,
                    &:hover {
                        text-decoration: none;
                    }
                }
                @media screen and (max-width: 768px) {
                    text-align: left;
                    z-index: 99999;
                    padding: 10px 25px;
                }
            }
            .nav-link {
                color: #FFFFFF;
                display: inline-block;
                vertical-align: middle;
                -webkit-transform: perspective(1px) translateZ(0);
                transform: perspective(1px) translateZ(0);
                box-shadow: 0 0 1px transparent;
                position: relative;
                overflow: hidden;
                &:focus,
                &:hover {
                    color: #FFFFFF;
                }
            }
            .active {
                a {
                    &:focus,
                    &:hover {
                        border-bottom: 2px solid #ecf0f1;
                        background-color: transparent;
                    }
                }
            }
            .dropdown-menu {
                left: auto;
                a.dropdown-item {
                    color: #4B555F;
                    font-family: 'Proxima Nova';
                    font-size: 15px;
                    text-transform: capitalize; // border-bottom: 2px solid #F6FAFD;
                    padding: 10px 20px;
                }
                a.dropdown-item {
                    &:last-child {
                        border-bottom: none;
                    }
                }
            }
            .dropdown-item:active {
                background-color: #f8f9fa;
            }
        }
    }

    a.nav-link {
        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            left: 100%;
            right: 100%;
            bottom: 0;
            background: #ECF0F1;
            height: 2px;
            -webkit-transition-property: left, right;
            transition-property: left, right;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
        }
    }
    li.nav-item {
        &:last-child {
            a.nav-link {
                &::before {
                    height: 0px;
                }
            }
        }
    }
    .nav-link {
        &:hover,
        &:focus,
        &:active {
            &::before {
                left: 0;
                right: 0;
            }
        }
    }
}