#home-automation {
    #section1 {
        width: 100%;
        height: 75vh; // background-image: url('../assets/home-automation/Banner.png');
        background-image: linear-gradient(rgba(20, 44, 79, 0.57), rgba(20, 44, 79, 0.57)), url(../assets/home-automation/Banner.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        @media screen and (max-width: 600px){
            height: 80vh;
        }
        @media only screen and (max-device-width: 1024px) and (min-device-width: 600px) and (orientation: portrait) {
            height: 60vh;
        }
        .banner-heading {
            font-family: 'Proximasemibold';
        }
        .white-para {
            @include paragraph(#fff,
            Proximathin,
            18px);
            line-height: 1.5;
            font-weight: normal;
            @media screen and (max-width: 600px) {
                font-size: 18px;
            }
            @media screen and (max-width: 320px) {
                font-size: 16px;
            }
        }
    }
    #section2 {
        .subheading {
            font-size: 16px;
        }
        .smart-fleet {
            background-color: #F6FAFD;

            p {
                color: #4B555F;
                font-family: "Proxima Nova";
                font-size: 18px;
                padding: 20px 0px;
            }
        }
    }

    #section3 {

        .card {
            border: none;
            @media screen and (max-width: 600px) {
                margin-bottom: 20px;
            }
        }
        .card-body {
            h5 {
                color: #142C4F;
                font-family: "Proximasemibold";
                font-size: 22px; // font-weight: bold;
            }
            p {
                color: #142C4F;
                font-family: "Proxima Nova";
                font-size: 16px;
            }
        }
    }
    #section4 {
        width: 100%;
        height: auto;
        background-image: url('../assets/partner-with-us/become-a-partner-bg.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        .bc-partnerbox {
            h3 {
                color: #FFFFFF;
                font-family: CaslonCP;
                font-size: 45px;
                padding-bottom: 10px;
            }
            p {
                color: #FFFFFF;
                font-family: Chivo;
                font-size: 18px;
            } //    .form-control {
            //          background-color: transparent;
            // border-radius: 0;
            // border: 1.5px solid rgba(255, 255, 255, 0.5);
            // font-size:.9rem;
            //          padding: .8rem;
            //          color: #FFF;
            // &::-webkit-input-placeholder {
            //  color: #FFFFFF;
            // }
            //      }
            label {
                color: #FFFFFF;
                font-family: 'Chivo';
                font-size: 12px;
            }
            .btn-subscribe {
                @include theme-btnwht(#fff,
                $theme-color,
                1em,
                Chivo,
                0,
                uppercase);
                width: 100%;
                margin-top: 10px;
            }
        }
    }
}