.pad-0 {
    padding-left: 0;
    padding-right: 0;
}

.height-100 {
    height: 100vh;
}

.height-90 {
    height: 90vh;
}

.section-gap {
    padding-top: 100px;
    padding-bottom: 100px;
    @media screen and (max-width: 600px) {
        padding-top:50px;
        padding-bottom: 50px;
    }
}

.h100vh {
    height: 100vh;
}

.mgtop20 {
    margin-top: 20px;
}

.mgtop10 {
    margin-top: 10px;
}

.mgtop30 {
    margin-top: 30px;
}

.mgleft60 {
    margin-left: 60px;
}

.mgbtm20 {
    margin-bottom: 20px;
}

.mgbtm30 {
    margin-bottom: 30px;
}

.pdtop50 {
    padding-top: 50px;
}

.pdtop100 {
    padding-top: 100px;
    @media screen and (max-width: 600px) {
        padding-top:50px;
    }
}

.pdtop70 {
    padding-top: 70px;
}

.pdbtm70 {
    padding-bottom: 70px;
}

.pdbtm100 {
    padding-bottom: 100px;
    @media screen and (max-width: 600px) {
        padding-bottom:50px;
    }
}

.btn-banner {
    @include theme-btn($theme-color, #FFFFFF, 1em, Proxima Nova, 0);
}

.btn-career {
    @include theme-btn($theme-color, #FFFFFF, 1em, Proxima Nova, 0);
    padding: 0.3rem 2rem;
}






/* // banner heading */

.banner-heading {
    @include bannerhead(40px, #fff, Proximaregular, 1.3); // @media screen and (max-width: 1240px) {
    //     font-size: 1.3em;
    // }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
        font-size: 1.6em;
    }

    @media screen and (max-width: 768px) {
        font-size: 35px;
    }
    @media screen and (max-width: 600px) {
        font-size: 25px;
    }
    @media screen and (max-width: 320px) {
        font-size: 25px;
    }
}

// main heading
.main-heading {
    @include headings($theme-color, Proximasemibold, 36px, 30px, left);
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
        font-size: 2.5em;
    }
}

// center align heading
.center-heading {
    @include headings($theme-color, Proximasemibold, 36px, 30px, center);
}

// white colour heading
.white-heading {
    @include headings(#fff, Proximasemibold, 36px, 10px, center); // @media screen and (max-width: 1440px) {
    //     font-size: 2.5em;
    // }
    @media screen and (max-width: 600px) {
        font-size: 25px;
    }
}

// blue heading
.blue-heading {
    @include headings(#fff, Proximasemibold, 36px, 30px, left); // @media screen and (max-width: 1440px) {
    //     font-size: 2.5em;
    // }
    @media screen and (max-width: 600px) {
        font-size: 25px;
    }
}

// paragraph
.para {
    @include paragraph(#142C4F, Proxima Nova, 16px);
    line-height: 1.5;
    @media screen and (max-width: 600px) {
        font-size: 18px;
        margin-top: 10px;
    }
    @media screen and (max-width: 320px) {
        font-size: 16px;
        margin-top: 10px;
    }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
        font-size: 0.750em;
    }
}

.white-para {
    @include paragraph(#fff, Proxima Nova, 1.000em);
    text-align: center;
    line-height: 1.5;
    @media screen and (max-width: 600px) {
        font-size: 18px;
    }
    @media screen and (max-width: 320px) {
        font-size: 16px;
    }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
        font-size: 0.750em;
    }
}

// // subheading
.subheading {
    @include paragraph(#4B555F, Proxima Nova, 1.125em);
    @media screen and (max-width: 600px) {
        font-size: 1em!important;
    }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
        font-size: 1em!important;
    }
    @media only screen and (max-device-width: 1024px) and (min-device-width: 600px) and (orientation: portrait) {
        font-size: 18px!important;
    }
}

.banner-subheading {
    @include paragraph(#fff, Proxima Nova, 1.125em);
    @media screen and (max-width: 600px) {
        font-size: 0.938em!important;
    }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
        font-size: 0.938em!important;
    }
    @media only screen and (max-device-width: 1024px) and (min-device-width: 600px) and (orientation: portrait) {
       font-size: 18px!important;
    }

}


// white button
.white-btn {
    @include theme-btnwht(#fff, $theme-color, 14px, Proximasemibold, 0, uppercase);
    width: auto;
    padding: 10px;
    line-height: 1;
    text-align: center;
}

.videotext {
    position: absolute;
    z-index: 2;
    display: block; // width: 100%;
    bottom: 280px;

    @media only screen and (min-device-width: 1800px) and (max-device-width: 1900px) {
        bottom: 160px;
    }
}

// form input box
.input-style {
    @include input-box(#132c4e, 0, 14px, .8rem);
    @media screen and (max-width: 600px) {
        margin-bottom: 10px;
    }

    &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #ccc;
    }
    &::-moz-placeholder {
        /* Firefox 19+ */
        color: #ccc;
    }
    &:-ms-input-placeholder {
        /* IE 10+ */
        color: #ccc;
    }
    &:-moz-placeholder {
        /* Firefox 18- */
        color: #ccc;
    }
}

.home-landing-video-container {
    position: relative;
    height: auto;
    video {
        min-width: 100%;
        width: 100%;
        min-height: 100%;
        background-size: cover;
    }
    .overlay {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
    }
    .overlay-dark {
        background: #000;
        opacity: .4;
    }
}

.mobile-banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(52, 58, 64, 0.7), rgba(52, 58, 64, 0.7)), url(../assets/home/mobile-banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @media only screen and (max-device-width: 1024px) and (min-device-width: 600px) and (orientation: portrait) {
        height: 70vh;
    }
}

.scroll-arrow {
    position: absolute;
    top: -50px;
    z-index: 1;
    text-align: center;
    left: 0;
    right: 0;
    svg {
        width: 30px;
    }
}

.scroll-arrow-mobile {
    position: absolute;
    top: 200px;
    z-index: 1;
    text-align: center;
    left: 0;
    right: 0;
    svg {
        width: 30px;
    }
}

#banner-slider {
    .swiper-container {
        width: 100%;
        height: 100vh;
        .swiper-pagination.swiper-pagination-fraction {
            color: #fff;
            left: -30px;
            text-align: right;
            bottom: 50%;
        }
        span.swiper-pagination-current,
        span.swiper-pagination-total {
            display: block;
            line-height: 1;
        }
        .swiper-button-next {
            background-image: none;
            top: 54%;
            @media screen and (max-width: 600px) {
                top: 54%;
            }
        }
        .swiper-button-prev {
            background-image: none;
            right: 10px;
            left: auto;
            top: 42%;
            @media screen and (max-width: 320px) {
                top: 38%;
            }
            @media screen and (max-width: 600px) {
                top: 39%!important;
            }
            @media screen and (max-width: 1440px) {
                top: 41%;
            }
            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
                top: 42%;
            }
            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
                top: 39%;
            }
        }
        .swiper-slide {
            height: 100vh;
            text-align: left;
            font-size: 18px;
            background: #fff;
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }
        .banner {
            width: 100%;
            min-height: 100vh;
            background-image: url('../assets/banner.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        } // h1 {
        //     font-size: 4em;
        //     color: #fff;
        //     font-family: CaslonCP; // font-weight: bold;
        //     @media screen and (max-width: 600px) {
        //         font-size: 2em!important;
        //     }
        //     @media screen and (max-width: 1240px) {
        //         font-size: 3em;
        //     }
        // }
    }
}

.vl {
    border-left: 2px solid #FFFFFF;
    height: 80px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    bottom: 0;
    z-index: 999;
}

.scroll {
    position: absolute;
    bottom: 80px;
    z-index: 1;
    text-align: center;
    left: 0;
    right: 0;
    a {
        color: #fff;
        font-size: 1em;
        font-family: 'Proxima Nova';
        text-decoration: none;
        font-weight: bold;
    }
}

#services {

    h3 {
        color: #2C3D4A;
        font-family: Proxima Nova;
        font-size: 2.25em;
        font-weight: bold;
        line-height: 48px;
        @media screen and (max-width: 600px) {
            font-size: 1.3em;
        }
        @media screen and (max-width: 768px) {
            font-size: 1.6em;
        }
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
            font-size: 1.6em;
        }
    }
    h5 {
        color: #808080;
        font-family: Proxima Nova;
        font-size: 0.875em;
        line-height: 17px;
        @media screen and (max-width: 600px) {
            font-size: 0.7em;
        }
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
            font-size: 0.8em;
        }
    }
    .service-textbox {
        background-color: #F6FAFD;
        padding: 60px;
        position: relative;
        min-height: 674px;
        left: -30px;
        margin-top: -38px;
        width: 100%;
        box-shadow: 11px 3px 28px rgba(220, 220, 220, 0.5215686275);
        z-index: 1;
        @media screen and (max-width: 600px) {
            left:0;
            padding: 20px;
        }
    }
    .service-nav {
        position: absolute;
        left: -55px;
        right: 0;
        top: 96.5%;
        width: 109px;
        display: block;
        @media screen and (max-width: 600px) {
            width: 105px!important;
            margin: 0 auto;
            top: 99.5%!important;
            left: 0!important;
        }
        @media screen and (max-width: 1440px) {
            left: -55px;
            top: 96.5%;
            width: 107px;
        }
    }
    .swiper-button-next,
    .swiper-button-prev {
        color: #0054FB;
        background-color: #fff;
        width: 44px;
        top: 96.4%;
        border: 1px solid #0054FB;
        background-size: 8px 44px;
    }

    .swiper-button-next {
        background-image: url('../assets/home/next-blue.svg');
        background-size: 32%;
    }
    .swiper-button-prev {
        background-image: url('../assets/home/prev-blue.svg');
        background-size: 32%;
    } // .swiper-button-prev {
    //     left: -8%;
    //     @media screen and (max-width: 600px) {
    //         left: 0;
    //     }
    // }
    // .swiper-button-next {
    //     right: 92%;
    //     @media screen and (max-width: 600px) {
    //         right: 70%!important;
    //     }
    //     @media screen and (max-width:1240px) {
    //         right: 89%;
    //     }
    //     @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    //         right: 81%;
    //     }
    // }
}

#vertical {
    .swiper-button-next {
        background-image: url(../assets/fleet-management/mobile-blogs/arrow-blog-next.svg);
        background-size: 32%;
        right: -37px;
        top: 50%;
        background-color: transparent;
        height: 30px;
        border-radius: 50%;
        width: 30px;
        @media screen and (max-width: 600px) {
            right: 0px;
        }
    }
    .swiper-button-prev {
        background-image: url(../assets/fleet-management/mobile-blogs/arrow-blog-prev.svg);
        background-size: 32%;
        left: -37px;
        top: 50%;
        background-color: transparent;
        height: 30px;
        border-radius: 50%;
        width: 30px;
        @media screen and (max-width: 600px) {
            left: 0px;
        }
    }

    .swiper-container{
        .white-btn{
            margin-top: 10px;
        }
    }
    .container-img {
        width: 100%;
        height: 50vh;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .pad-0 {
        padding: 0;

        @media screen and (max-width: 600px) {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    .content-details {
        padding: 40px;
        @media screen and (max-width: 600px) {
            padding: 30px;
        }
    }
    .hvrbox,
    .hvrbox * {
        box-sizing: border-box;
    }
    .hvrbox {
        position: relative;
        display: inline-block;
        overflow: hidden;
        max-width: 100%;
        height: auto;
    }
    .hvrbox img {
        max-width: 100%;
    }
    .hvrbox .hvrbox-layer_bottom {
        display: block;
    }
    .hvrbox .hvrbox-layer_top {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: rgba(20, 44, 79, 0.69);
        color: #fff;
        padding: 15px;
        -moz-transition: all 0.4s ease-in-out 0s;
        -webkit-transition: all 0.4s ease-in-out 0s;
        -ms-transition: all 0.4s ease-in-out 0s;
        transition: all 0.4s ease-in-out 0s;
    }
    .hvrbox:hover .hvrbox-layer_top,
    .hvrbox.active .hvrbox-layer_top {
        opacity: 1;
    }
    .hvrbox .hvrbox-text {
        padding: 50px;
        @media screen and (max-width: 600px) {
            padding: 30px;
        }
        h3 {
            font-family: 'Proximasemibold';
            font-size: 20px;
        }
        p {
            font-family: 'Proxima Nova';
            font-size: 14px;
            text-align: left;
        }
        position: absolute;
        top: 50%;
        left: 10px;
        ;
        transform: translate(0%,
        -40%);
        -moz-transform: translate(0%,
        -40%);
        -webkit-transform: translate(0%,
        -40%);
        -ms-transform: translate(0%,
        -40%);
    }
    // .white-btn {
    //     padding: 5px 10px !important;
    //     font-size: 12px;
    //     line-height: 2;
    // }
    .hvrbox .hvrbox-text_mobile {
        font-size: 15px;
        border-top: 1px solid rgb(179, 179, 179);
        /* for old browsers */
        border-top: 1px solid rgba(179, 179, 179, 0.7);
        margin-top: 5px;
        padding-top: 2px;
        display: none;
    }
    .hvrbox.active .hvrbox-text_mobile {
        display: block;
    }
}



#case-studies {
    .btn-banner {
        color: #fff!important;
        // padding: 0.4rem 0.6rem!important;
        &:hover {
            color: #142C4F!important;
        }
    }


    .card {
        border: none;
        @media screen and (max-width: 600px) {
            margin-bottom: 30px;
        }
    }
    .card-title {
        color: #142C4F;
        font-family: 'Proximasemibold';
        font-size: 20px; // font-weight: bold;
        line-height: 1.5;
        @media screen and (max-width: 600px) {
            font-size: 16px;
        }
        @media only screen and (max-device-width: 1024px) and (min-device-width: 600px) and (orientation: portrait) {
            font-size: 18px!important;
        }
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
            font-size: 1.000em;
        }
    }
    a.btn {
        color: $theme-color;
        letter-spacing: 0.4px;
        font-family: 'Proximasemibold';
        font-size: 0.76em;
        line-height: 17px;
        float: left;
        @media screen and (max-width: 600px) {
            font-size: 0.7em;
        }
    }
    .card_trans {
        transition: transform .9s;
        cursor: pointer;

        &::after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: opacity 2s cubic-bezier(.165, .84, .44, 1);
            box-shadow: 0 -1px 42px 0 rgba(0, 0, 0, 0.2);
            content: '';
            opacity: 0;
            z-index: -1;
        }

        &:hover,
        &:focus {
            transform: scale3d(1, 1, 1);

            &::after {
                opacity: 1;
            }
        }
    }
}

#testimonial {
    .card-body {
        border-radius: 10px;
        background-color: #F6FAFD;
        box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.06);
    }
    .image-line {
        position: relative;
        text-align: center;
    } // .center-heading {
    //     margin-bottom: 60px;
    // }
    img {
        border-radius: 50%;
        width: 10%;
        height: 10%;
    }
    .image-line span {
        padding: 0 15px;
        position: relative;
        z-index: 1;
    }
    .image-line:before {
        background: #ddd;
        content: "";
        display: block;
        height: 1px;
        position: absolute;
        top: 50%;
        width: 100%;
    }
    .image-line:before {
        left: 0;
    }
    .card-text {
        font-family: Proxima Nova;
        font-size: 18px;
        line-height: 28px;
        text-align: center;

        @media screen and (max-width: 600px) {
            font-size: 10px;
        }
        @media screen and (max-width: 1024px) {
            font-size: 15px;
        }
        @media only screen and (max-device-width: 1024px) and (min-device-width: 600px) and (orientation: portrait) {
            font-size: 14px;
        }
    }
    .card-txt {
        color: #4B555F;
        font-family: Proximasemibold;
        font-size: 15px;
        font-weight: bold;
        line-height: 18px;
        margin-bottom: 0;
        margin-top: 15px;
        @media screen and (max-width: 600px) {
            font-size: 14px;
        }
        @media only screen and (max-device-width: 1024px) and (min-device-width: 600px) and (orientation: portrait) {
            font-size: 14px;
        }
    }
    small {
        color: #4B555F;
        font-family: Proxima Nova;
        font-size: 13px;
        font-weight: 300;
        line-height: 15px;
        @media screen and (max-width: 600px) {
            font-size: 10px;
        }
        @media only screen and (max-device-width: 1024px) and (min-device-width: 600px) and (orientation: portrait) {
            font-size: 14px;
        }
    }
    .card-body {
        padding: 2.5rem;
    }
    .card {
        border: none;
    }
    .swiper-slide-prev,
    .swiper-slide-next {
        opacity: 0.2;
    }
    .swiper-button-prev,
    .swiper-button-next {
        background-image: none;
        background-color: $theme-color;
        border-radius: 50%;
        width: 30px;
        height: 30px;
    }
    .arrow-style {
        position: absolute;
        left: 0;
        right: 0;
        top: 60%;
        max-width: 715px;
    } // .swiper-button-prev {
    //     right: 60px;
    //      @media screen and (max-width: 600px){
    //         right:10px;
    //      }
    // }
    // .swiper-button-next {
    //     left: 60px;
    //     @media screen and (max-width: 600px){
    //         left:10px;
    //      }
    // }
    .swiper-button-next,
    .swiper-button-prev {
        img {
            width: 30px;
            height: 30px;
        }
    }
}

#news {
    .news-box {
        // border: 0.5px solid #DADADA;
        background-color: #F6FAFD;
        padding: 60px;
        @media screen and (max-width: 768px) {
            padding: 40px;
        }
    }

    .white-btn {
        padding: 10px 20px;
    }

    .subscribe {
        width: 100%;
        background-image: url('../assets/home/Home-page-form_.png');
        /*background-color: $theme-color;*/
        padding: 40px;
        @media screen and (max-width: 600px) {
            padding: 20px;
        }
    }
    p {
        color: #FFFFFF;
        font-family: 'Proxima Nova';
        font-size: 18px;
        line-height: 22px;
        @media screen and (max-width: 600px) {
            font-size: 16px;
        }
        @media screen and (max-width: 320px) {
            font-size: 14px;
        }
    }
    img {
        width: 50%;
        @media screen and (max-width: 600px) {
            width: 100%;
        }
    }
}