<div class="container" id="footer-links">
    <div class="row">
        <div class="col-12 text-center">
            <a href="/index.html">
                 <img src="resources/assets/footer-logo.svg" width="200px" height="60px">
            </a>
        </div>
    </div>
    <div class="row pt-4 footercontent">
        <div class="col-12 text-center">
            <ul class="">
                <li class="nav-item">
                    <a class="nav-link" href="/about-us.html">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home-automation.html">Home Automation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:">Fleet Automation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/partner-with-us.html">Partner with us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/career.html">Careers</a>
                </li>
                <li class="nav-item">
                    <!-- <a class="nav-link" href="/case-studies.html">Case Studies</a> -->
                </li>
                <!--  <li class="nav-item">
                   <a class="nav-link" href="/blogs.html">Blogs</a>
               </li> -->
            </ul>
        </div>
    </div>
    <div class="copyright">
        <p><span>©Copyright | Fueblabs 2016.All Right Reserved</span></p>
    </div>
    <div class="row">
        <div class="col-12 social-link text-center">
            <ul>
                <li class="nav-item">
                    <p>Follow Us</p>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fab fa-twitter"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fab fa-linkedin-in"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>