<!-- <section id="navigation" class="container-fluid">
    <div class="row">
        <div class="col-12">
            <nav class="navbar fixed-top navbar-expand-lg navbar-light">
                <div class="container">
                    <a class="navbar-brand" href="/index.html">
                        <?xml version="1.0" encoding="UTF-8"?>
                        <svg xmlns="http://www.w3.org/2000/svg" width="200px" height="60px" style="vertical-align: middle;" viewBox="0 0 177.17 46.6">
                            <defs>
                                <style>
                                .cls-1 {
                                    fill: #FFFFFF;
                                }
                                </style>
                            </defs>
                            <g id="Layer_2" data-name="Layer 2">
                                <g id="Layer_1-2" data-name="Layer 1">
                                    <path class="cls-1" d="M14.86,33.74A1.58,1.58,0,0,0,14.1,32,13.1,13.1,0,1,1,31.93,14a1.55,1.55,0,0,0,1.73.73l4.4-1.15a1.55,1.55,0,0,0,1-2.21A20.61,20.61,0,1,0,11.5,39.09a1.54,1.54,0,0,0,2.19-1Z" />
                                    <path class="cls-1" d="M33.71,20.71a13.86,13.86,0,0,1-.12,1.69A13.1,13.1,0,0,1,20.88,33.71a1.54,1.54,0,0,0-1.49,1.15l-1.14,4.4a1.56,1.56,0,0,0,1.08,1.88A20.56,20.56,0,0,0,35.1,35.22a20.85,20.85,0,0,0,4.13-5.82s0,0,0,0a6.87,6.87,0,0,1,.39-.92l0-.05a1.45,1.45,0,0,1,.09-.22c.09-.21.16-.42.23-.64s.23-.67.34-1A19.78,19.78,0,0,0,41,23.43a20.63,20.63,0,0,0,.17-3.91,1.61,1.61,0,0,0-.06-.33,1.55,1.55,0,0,0-1.88-1.09l-4.38,1.16A1.52,1.52,0,0,0,33.71,20.71Z" />
                                    <path class="cls-1" d="M46.6,43a3.8,3.8,0,0,0-.47-2.14,3.87,3.87,0,0,0-3.12-2,3.72,3.72,0,0,0-.58,0,3.87,3.87,0,0,0-3.34,2.55,3.94,3.94,0,0,0-.24,1,3.89,3.89,0,0,0,3.6,4.15,4.35,4.35,0,0,0,.51,0A3.87,3.87,0,0,0,46.6,43Z" />
                                    <path class="cls-1" d="M66.14,15.59l-8.23,0c-1.08,0-1.52.47-1.53,1.54V29.6c0,1,.44,1.45,1.51,1.45s1.52-.45,1.53-1.5V24.84h3.23c1.05,0,1.49-.45,1.5-1.51s-.44-1.5-1.5-1.52H59.42V18.62H66c1.09,0,1.54-.48,1.54-1.58S67.12,15.6,66.14,15.59Z" />
                                    <path class="cls-1" d="M81.86,15.54c-1.08,0-1.52.47-1.53,1.54v6.23c0,3.89-2,4.73-3.67,4.75S73,27.22,73,23.32V17c0-1-.45-1.45-1.52-1.45s-1.51.45-1.52,1.52v6.24c0,5.2,2.18,7.73,6.65,7.73h.09c4.5,0,6.7-2.53,6.7-7.73V17.09C83.36,16,82.91,15.58,81.86,15.54Z" />
                                    <path class="cls-1" d="M96.09,18.62c1.09,0,1.54-.48,1.54-1.58s-.41-1.44-1.39-1.45l-8.24,0c-1.07,0-1.52.47-1.52,1.54V29.6c0,1,.44,1.45,1.51,1.45h8.12c1.06,0,1.49-.45,1.5-1.5S97.16,28,96.07,28H89.51V24.86h3.77c1.07,0,1.51-.45,1.53-1.51s-.46-1.52-1.54-1.53H89.51v-3.2Z" />
                                    <path class="cls-1" d="M111.69,23.28l.43-.4a3.6,3.6,0,0,0,.9-2.67A4.29,4.29,0,0,0,111.63,17a4.4,4.4,0,0,0-3.24-1.39h-6.13c-1.08,0-1.52.44-1.52,1.51V29.54c0,1.07.42,1.51,1.46,1.51h6.32a4.23,4.23,0,0,0,3.09-1.41A4.41,4.41,0,0,0,113,26.42a3.62,3.62,0,0,0-.91-2.73ZM108.37,28h-4.59V18.62h4.62a1.62,1.62,0,0,1,1.2.44,1.35,1.35,0,0,1,.36,1,1.66,1.66,0,0,1-.42,1.29,1.5,1.5,0,0,1-1.15.43h-1.07c-1,0-1.48.4-1.48,1.38a1.78,1.78,0,0,0,.38,1.27,1.61,1.61,0,0,0,1.15.35h1A1.47,1.47,0,0,1,110,26.42,1.47,1.47,0,0,1,108.37,28Z" />
                                    <path class="cls-1" d="M128.73,28h-4.31l0-11c0-1-.46-1.45-1.53-1.48s-1.52.47-1.53,1.54V29.6c0,1,.44,1.45,1.51,1.45h5.87c1.06,0,1.49-.45,1.5-1.5S129.81,28,128.73,28Z" />
                                    <path class="cls-1" d="M141.45,16.32a1.45,1.45,0,0,0-.55-.55,1.5,1.5,0,0,0-1.53,0,1.28,1.28,0,0,0-.54.54c-.18.32-1.28,2.51-3.37,6.71a58.18,58.18,0,0,0-3,6.53,1.54,1.54,0,0,0,.21.77,1.25,1.25,0,0,0,.55.54,1.56,1.56,0,0,0,.75.2h12.44a1.66,1.66,0,0,0,.76-.2,1.36,1.36,0,0,0,.55-.54,1.51,1.51,0,0,0,.21-.73c0-.2-.4-1.23-3.06-6.57C142.76,18.89,141.62,16.63,141.45,16.32ZM136.38,28l3.76-7.68L143.88,28Z" />
                                    <path class="cls-1" d="M160.48,23.28l.43-.4a3.6,3.6,0,0,0,.9-2.67A4.29,4.29,0,0,0,160.42,17a4.4,4.4,0,0,0-3.24-1.39h-6.13c-1.08,0-1.52.44-1.52,1.51V29.54c0,1.07.42,1.51,1.46,1.51h6.32a4.23,4.23,0,0,0,3.09-1.41,4.45,4.45,0,0,0,1.41-3.22,3.62,3.62,0,0,0-.91-2.73ZM157.16,28h-4.59V18.62h4.62a1.62,1.62,0,0,1,1.2.44,1.35,1.35,0,0,1,.36,1,1.66,1.66,0,0,1-.42,1.29,1.5,1.5,0,0,1-1.15.43h-1.07c-1.05,0-1.48.4-1.48,1.38a1.78,1.78,0,0,0,.38,1.27,1.61,1.61,0,0,0,1.15.35h1a1.47,1.47,0,0,1,1.59,1.61A1.47,1.47,0,0,1,157.16,28Z" />
                                    <path class="cls-1" d="M171.45,21.77h-2.1c-2.14,0-2.61-.83-2.64-1.55s.49-1.59,2.68-1.61h6.32c1,0,1.44-.45,1.44-1.52s-.45-1.51-1.51-1.51h-6.25c-2.12,0-3.66.47-4.58,1.39a4.38,4.38,0,0,0-1.09,3.25c0,3.11,1.8,4.57,5.67,4.57h2.08c2.19,0,2.64.88,2.64,1.61s-.46,1.62-2.65,1.64l-6.3,0c-1,0-1.44.43-1.44,1.48a1.53,1.53,0,0,0,.34,1.12,1.64,1.64,0,0,0,1.16.35h6.24c3.89,0,5.71-1.47,5.71-4.56S175.33,21.78,171.45,21.77Z" />
                                </g>
                            </g>
                        </svg>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon">
                                    <?xml version="1.0" encoding="iso-8859-1"?>
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 53 53" style="enable-background:new 0 0 53 53;" xml:space="preserve" width="auto" height="auto">
                                    <g>
                                        <g>
                                            <path class="dark-gray" d="M2,13.5h49c1.104,0,2-0.896,2-2s-0.896-2-2-2H2c-1.104,0-2,0.896-2,2S0.896,13.5,2,13.5z" fill="#FFFFFF"/>
                                            <path class="dark-gray" d="M2,28.5h49c1.104,0,2-0.896,2-2s-0.896-2-2-2H2c-1.104,0-2,0.896-2,2S0.896,28.5,2,28.5z" fill="#FFFFFF"/>
                                            <path class="dark-gray" d="M2,43.5h49c1.104,0,2-0.896,2-2s-0.896-2-2-2H2c-1.104,0-2,0.896-2,2S0.896,43.5,2,43.5z" fill="#FFFFFF"/>
                                        </g>
                                    </g>
                                    </svg>
                                </span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/about-us.html">About Us</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Services</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="smart-city-solution.html">Smart City Solution</a>
                                    <a class="dropdown-item" href="fleet-management.html">Fleet Management</a>
                                    <a class="dropdown-item" href="home-automation.html">Home Automation</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/case-studies.html">Case Studies</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/career.html">Careers</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/partner-with-us.html">Get Started</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link get-in-touch" href="/contact.html">Get in Touch</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</section> -->
<section id="navigation" class="container-fluid">
    <div class="row">
        <div class="col-12">
            <nav class="navbar fixed-top navbar-expand-lg navbar-light">
                <div class="container">
                    <a class="navbar-brand" href="/index.html">
                        <?xml version="1.0" encoding="UTF-8"?>
                        <svg xmlns="http://www.w3.org/2000/svg" width="200px" height="60px" style="vertical-align: middle;" viewBox="0 0 177.17 46.6">
                            <defs>
                                <style>
                                .cls-1 {
                                    fill: #FFFFFF;
                                }
                                </style>
                            </defs>
                            <g id="Layer_2" data-name="Layer 2">
                                <g id="Layer_1-2" data-name="Layer 1">
                                    <path class="cls-1" d="M14.86,33.74A1.58,1.58,0,0,0,14.1,32,13.1,13.1,0,1,1,31.93,14a1.55,1.55,0,0,0,1.73.73l4.4-1.15a1.55,1.55,0,0,0,1-2.21A20.61,20.61,0,1,0,11.5,39.09a1.54,1.54,0,0,0,2.19-1Z" />
                                    <path class="cls-1" d="M33.71,20.71a13.86,13.86,0,0,1-.12,1.69A13.1,13.1,0,0,1,20.88,33.71a1.54,1.54,0,0,0-1.49,1.15l-1.14,4.4a1.56,1.56,0,0,0,1.08,1.88A20.56,20.56,0,0,0,35.1,35.22a20.85,20.85,0,0,0,4.13-5.82s0,0,0,0a6.87,6.87,0,0,1,.39-.92l0-.05a1.45,1.45,0,0,1,.09-.22c.09-.21.16-.42.23-.64s.23-.67.34-1A19.78,19.78,0,0,0,41,23.43a20.63,20.63,0,0,0,.17-3.91,1.61,1.61,0,0,0-.06-.33,1.55,1.55,0,0,0-1.88-1.09l-4.38,1.16A1.52,1.52,0,0,0,33.71,20.71Z" />
                                    <path class="cls-1" d="M46.6,43a3.8,3.8,0,0,0-.47-2.14,3.87,3.87,0,0,0-3.12-2,3.72,3.72,0,0,0-.58,0,3.87,3.87,0,0,0-3.34,2.55,3.94,3.94,0,0,0-.24,1,3.89,3.89,0,0,0,3.6,4.15,4.35,4.35,0,0,0,.51,0A3.87,3.87,0,0,0,46.6,43Z" />
                                    <path class="cls-1" d="M66.14,15.59l-8.23,0c-1.08,0-1.52.47-1.53,1.54V29.6c0,1,.44,1.45,1.51,1.45s1.52-.45,1.53-1.5V24.84h3.23c1.05,0,1.49-.45,1.5-1.51s-.44-1.5-1.5-1.52H59.42V18.62H66c1.09,0,1.54-.48,1.54-1.58S67.12,15.6,66.14,15.59Z" />
                                    <path class="cls-1" d="M81.86,15.54c-1.08,0-1.52.47-1.53,1.54v6.23c0,3.89-2,4.73-3.67,4.75S73,27.22,73,23.32V17c0-1-.45-1.45-1.52-1.45s-1.51.45-1.52,1.52v6.24c0,5.2,2.18,7.73,6.65,7.73h.09c4.5,0,6.7-2.53,6.7-7.73V17.09C83.36,16,82.91,15.58,81.86,15.54Z" />
                                    <path class="cls-1" d="M96.09,18.62c1.09,0,1.54-.48,1.54-1.58s-.41-1.44-1.39-1.45l-8.24,0c-1.07,0-1.52.47-1.52,1.54V29.6c0,1,.44,1.45,1.51,1.45h8.12c1.06,0,1.49-.45,1.5-1.5S97.16,28,96.07,28H89.51V24.86h3.77c1.07,0,1.51-.45,1.53-1.51s-.46-1.52-1.54-1.53H89.51v-3.2Z" />
                                    <path class="cls-1" d="M111.69,23.28l.43-.4a3.6,3.6,0,0,0,.9-2.67A4.29,4.29,0,0,0,111.63,17a4.4,4.4,0,0,0-3.24-1.39h-6.13c-1.08,0-1.52.44-1.52,1.51V29.54c0,1.07.42,1.51,1.46,1.51h6.32a4.23,4.23,0,0,0,3.09-1.41A4.41,4.41,0,0,0,113,26.42a3.62,3.62,0,0,0-.91-2.73ZM108.37,28h-4.59V18.62h4.62a1.62,1.62,0,0,1,1.2.44,1.35,1.35,0,0,1,.36,1,1.66,1.66,0,0,1-.42,1.29,1.5,1.5,0,0,1-1.15.43h-1.07c-1,0-1.48.4-1.48,1.38a1.78,1.78,0,0,0,.38,1.27,1.61,1.61,0,0,0,1.15.35h1A1.47,1.47,0,0,1,110,26.42,1.47,1.47,0,0,1,108.37,28Z" />
                                    <path class="cls-1" d="M128.73,28h-4.31l0-11c0-1-.46-1.45-1.53-1.48s-1.52.47-1.53,1.54V29.6c0,1,.44,1.45,1.51,1.45h5.87c1.06,0,1.49-.45,1.5-1.5S129.81,28,128.73,28Z" />
                                    <path class="cls-1" d="M141.45,16.32a1.45,1.45,0,0,0-.55-.55,1.5,1.5,0,0,0-1.53,0,1.28,1.28,0,0,0-.54.54c-.18.32-1.28,2.51-3.37,6.71a58.18,58.18,0,0,0-3,6.53,1.54,1.54,0,0,0,.21.77,1.25,1.25,0,0,0,.55.54,1.56,1.56,0,0,0,.75.2h12.44a1.66,1.66,0,0,0,.76-.2,1.36,1.36,0,0,0,.55-.54,1.51,1.51,0,0,0,.21-.73c0-.2-.4-1.23-3.06-6.57C142.76,18.89,141.62,16.63,141.45,16.32ZM136.38,28l3.76-7.68L143.88,28Z" />
                                    <path class="cls-1" d="M160.48,23.28l.43-.4a3.6,3.6,0,0,0,.9-2.67A4.29,4.29,0,0,0,160.42,17a4.4,4.4,0,0,0-3.24-1.39h-6.13c-1.08,0-1.52.44-1.52,1.51V29.54c0,1.07.42,1.51,1.46,1.51h6.32a4.23,4.23,0,0,0,3.09-1.41,4.45,4.45,0,0,0,1.41-3.22,3.62,3.62,0,0,0-.91-2.73ZM157.16,28h-4.59V18.62h4.62a1.62,1.62,0,0,1,1.2.44,1.35,1.35,0,0,1,.36,1,1.66,1.66,0,0,1-.42,1.29,1.5,1.5,0,0,1-1.15.43h-1.07c-1.05,0-1.48.4-1.48,1.38a1.78,1.78,0,0,0,.38,1.27,1.61,1.61,0,0,0,1.15.35h1a1.47,1.47,0,0,1,1.59,1.61A1.47,1.47,0,0,1,157.16,28Z" />
                                    <path class="cls-1" d="M171.45,21.77h-2.1c-2.14,0-2.61-.83-2.64-1.55s.49-1.59,2.68-1.61h6.32c1,0,1.44-.45,1.44-1.52s-.45-1.51-1.51-1.51h-6.25c-2.12,0-3.66.47-4.58,1.39a4.38,4.38,0,0,0-1.09,3.25c0,3.11,1.8,4.57,5.67,4.57h2.08c2.19,0,2.64.88,2.64,1.61s-.46,1.62-2.65,1.64l-6.3,0c-1,0-1.44.43-1.44,1.48a1.53,1.53,0,0,0,.34,1.12,1.64,1.64,0,0,0,1.16.35h6.24c3.89,0,5.71-1.47,5.71-4.56S175.33,21.78,171.45,21.77Z" />
                                </g>
                            </g>
                        </svg>
                    </a>
                    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <!-- <span class="navbar-toggler-icon">
                                    <?xml version="1.0" encoding="iso-8859-1"?>
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 53 53" style="enable-background:new 0 0 53 53;" xml:space="preserve" width="auto" height="auto">
                                    <g>
                                        <g>
                                            <path class="dark-gray" d="M2,13.5h49c1.104,0,2-0.896,2-2s-0.896-2-2-2H2c-1.104,0-2,0.896-2,2S0.896,13.5,2,13.5z" fill="#FFFFFF"/>
                                            <path class="dark-gray" d="M2,28.5h49c1.104,0,2-0.896,2-2s-0.896-2-2-2H2c-1.104,0-2,0.896-2,2S0.896,28.5,2,28.5z" fill="#FFFFFF"/>
                                            <path class="dark-gray" d="M2,43.5h49c1.104,0,2-0.896,2-2s-0.896-2-2-2H2c-1.104,0-2,0.896-2,2S0.896,43.5,2,43.5z" fill="#FFFFFF"/>
                                        </g>
                                    </g>
                                    </svg>
                                </span> -->
                        <span class="icon-bar top-bar"></span>
                        <span class="icon-bar middle-bar"></span>
                        <span class="icon-bar bottom-bar"></span>
                        <span class="sr-only">Toggle navigation</span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/about-us.html">About Us</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Services</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="smart-city-solution.html">Smart City Solution</a>
                                    <a class="dropdown-item" href="fleet-management.html">Fleet Management</a>
                                    <a class="dropdown-item" href="home-automation.html">Home Automation</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/case-studies.html">Case Studies</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/career.html">Careers</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/partner-with-us.html">Get Started</a>
                            </li>
                            <!-- <li class="nav-item">
                                        <a class="nav-link" href="/blogs.html">Blogs</a>
                                    </li> -->
                            <!--  <li class="nav-item">
                                        <a class="nav-link" href="/partner-with-us.html">partner with us</a>
                                    </li> -->
                            <li class="nav-item">
                                <a class="nav-link get-in-touch" href="/contact.html">Get in Touch</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</section>