#case-study {
    #section1 {
        width: 100%;
        height: 75vh;
        background-image: linear-gradient(rgba(20, 44, 79, 0.52), rgba(20, 44, 79, 0.52)), url(../assets/case-study/casestudy-banner.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        @media only screen and (max-device-width: 1024px) and (min-device-width: 600px) and (orientation: portrait) {
            height: 60vh;
        }
        .banner-heading {
            font-family: 'Proximasemibold';
        }
        @media screen and (max-width: 600px) {
            font-size: 18px;
        }
        @media screen and (max-width: 320px) {
            font-size: 16px;
        }
    }
    #case-studies {
        .card-body {
            border: 1px solid rgba(0, 0, 0, .125)!important;
            padding: 10px;
            border-radius: 0;
            padding: 5px 25px 10px 25px;
            small {
                color: #B9B9B9;
                font-family: "Proxima Nova";
                font-size: 12px;
            }
            p.para {
                color: #4B555F;
            }
            .card-title {
                font-family: "Proxima Nova";
                font-weight: bold;
                margin-top: 20px;
            }
            a {
                color: #142C4F;
                font-family: "Proxima Nova";
                font-size: 13px;
                text-decoration: none;
            }
            hr {
                margin-top: 40px;
                margin-bottom: 5px;
            }
        }

        .pagination {
            .page-link {
                border: none;
                color: #4B555F;
                font-family: "Proxima Nova";
                font-size: 15px;
                font-weight: normal;
                margin-left: 12px;
                line-height: 0.9;
                &:hover {
                    border: none;
                    color: #4B555F;
                    font-family: "Proximasemibold";
                    font-size: 15px;
                    font-weight: normal;
                    margin-left: 12px;
                    line-height: 0.9;
                    background: transparent;
                }

                img {
                    width: 6px;
                }
            }
            .page-item:first-child .page-link,
            .page-item:last-child .page-link {
                border-radius: 50%;
                background-color: #FAFAFA;
                width: 30px;
                height: 30px;
            }
        }
    }
}

#caseindividual-banner {
    width: 100%;
    height: 75vh;
    background-image: linear-gradient(rgba(20, 44, 79, 0.52), rgba(20, 44, 79, 0.52)), url(../assets/case-study/individual-banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .banner-heading {
        font-family: 'Proximasemibold';
    }
}

#caseindividual-para {
    .subheading {
        font-size: 16px;
    }
    .para {
        font-family: 'Proximasemibold';
        color: #4B555F;
    }
    .image {
        p {
            color: #4B555F;
            font-family: "Proximaregular";
            font-size: 16px;
            font-weight: 600;
        }
    }
}