#partnerwithus {
    #section1 {
        width: 100%;
        height: 75vh;
        background-image: linear-gradient(rgba(20, 44, 79, 0.3), rgba(20, 44, 79, 0.3)), url(../assets/partner-with-us/partner-home.png); // background-image: url('../assets/partner-with-us/partner-home.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        @media screen and (max-width: 600px){
            height: 80vh;
        }
        @media only screen and (max-device-width: 1024px) and (min-device-width: 600px) and (orientation: portrait) {
            height: 80vh;
        }
        .height-75v {
            height: 75vh;
        }
        .banner-heading {
            font-family: 'Proximasemibold';
        }
        .white-para {
            @include paragraph(#fff,
            Proximathin,
            18px);
            line-height: 1.5;
            font-weight: normal;
            @media screen and (max-width: 600px) {
                font-size: 18px;
            }
            @media screen and (max-width: 320px) {
                font-size: 16px;
            }
        } // p{
        //  color: #FFFFFF; 
        //  font-family: 'Chivo';   
        //  font-size: 22px; 
        // }
    }
    #section2 {
        h3 {
            color: #4B555F;
            font-family: 'Proximasemibold';
            font-size: 18px;
            margin-top: 30px;
            @media screen and (max-width: 600px){
                margin-top: 20px; 
            }
            @media only screen and (max-device-width: 1024px) and (min-device-width: 600px) and (orientation: portrait) {
                margin-top: 20px;
            }
        }
        .col-width {

            @media screen and (max-width: 600px) {
                flex-basis: auto;
                margin-top: 20px;
            }
            @media only screen and (max-device-width: 1024px) and (min-device-width: 600px) and (orientation: portrait) {
                margin-top: 40px;
            }
        }
    }
    #section4 {
        width: 100%;
        height: auto;
        background-image: url('../assets/partner-with-us/become-a-partner-bg.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        .white-btn {
            padding: 5px 20px;
        }

        .bc-partnerbox {

            p {
                color: #FFFFFF;
                font-family: Chivo;
                font-size: 18px;
            }

            label {
                color: #FFFFFF;
                font-family: 'Chivo';
                font-size: 12px;
            }
            .btn-subscribe {
                @include theme-btnwht(#fff,
                $theme-color,
                1em,
                Chivo,
                0,
                uppercase);
                width: 100%;
                margin-top: 10px;
            }
        }
    }
}