#fleet-management {
    #section1 {
        width: 100%;
        height: 75vh;
        background-image: linear-gradient(rgba(20, 44, 79, 0.67), rgba(20, 44, 79, 0.67)), url('../assets/fleet-management/Banner.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        @media screen and (max-width: 600px){
            height: 80vh;
        }
        @media only screen and (max-device-width: 1024px) and (min-device-width: 600px) and (orientation: portrait) {
            height: 60vh;
        }
        .banner-heading {
            font-family: 'Proximasemibold';
        }
        .white-para {
            @include paragraph(#fff,
            Proximathin,
            18px);
            line-height: 1.5;
            font-weight: normal;
            @media screen and (max-width: 600px) {
                font-size: 18px;
            }
            @media screen and (max-width: 320px) {
                font-size: 16px;
            }
        }
    }
    #section2 {
        .subheading {
            font-size: 16px;
        }
        .smart-fleet {
            background-color: #F6FAFD;

            p {
                color: #4B555F;
                font-family: "Proxima Nova";
                font-size: 18px;
                padding: 10px 0px;
                @media screen and (max-width: 600px) {
                    margin-bottom: 35px;
                }
            }
        }
    }
    #section3 {

        .swiper-slide.nav-item {
            @media screen and (max-width: 600px) {
                width:25%!important;
                margin-right: 0!important;
            }
        }

        .swiper-button-next,
        .swiper-button-prev {

            @media screen and (max-width: 600px) {
                top:140%;
            }
        }
        .swiper-container {
            @media screen and (max-width: 600px) {
                overflow: visible;
            }
        }
        .brdr-btm {
            border-bottom: 1px solid;
        }
        p {
            color: #4B555F;
            font-family: "Proxima Nova";
            font-size: 16px;
        }
        .nav-pills .nav-link {
            color: #4B555F;
            font-family: 'Proxima Nova';
            font-size: 1.125em;
            display: inline-block;
            padding: 0.7rem 0rem;
            @media screen and (max-width: 768px) {
                font-size: 10px;
                padding: 0;
            }
            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
                font-size: 0.70em!important;
            }
        }
        .nav-pills .nav-link.active,
        .nav-pills .show>.nav-link {
            color: #142C4F;
            background-color: transparent;
            font-family: 'Proxima Nova';
            border-bottom: 4px solid #142C4F;
            border-radius: 0;
            font-weight: bold;
            /*  display: inline;
           padding: 1rem 0rem; */
        }
        .swiper-button-next,
        .swiper-container-rtl .swiper-button-prev {
            background-image: url('../assets/home-automation/next.svg')!important;
            right: 0px;
        }
        .swiper-button-prev,
        .swiper-container-rtl .swiper-button-next {
            background-image: url('../assets/home-automation/previous.svg')!important;
            left: auto;
            right: 28px;
        }
    }
    #section4 {
        background-color: #F6FAFD;
        .grid-container {
            display: grid;
            height: 100%;
            grid-template-columns: 1fr 0.7fr 1.3fr;
            grid-template-rows: 1fr 1fr;
            grid-gap: 15px 15px;
            grid-template-areas: "one one two" "one one three";
            @media screen and (max-width: 768px) {
                grid-template-columns: 1fr 1fr;
                grid-template-areas: "one one" "two three";
            }
        }

        .one {
            grid-area: one;
        }

        .two {
            grid-area: two;
        }

        .three {
            grid-area: three;
        }

        .content-blog {
            -webkit-transform: translate(-44%, 90%);
            -moz-transform: translate(-44%, 90%);
            -ms-transform: translate(-44%, 90%);
            -o-tranform: translate(-44%, 90%);
            transform: translate(-44%, 90%);
            -webkit-transition: all 0.3s ease-in-out 0s;
            -moz-transition: all 0.3s ease-in-out 0s;
            -ms-transition: all 0.3s ease-in-out 0s;
            -o-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
        }
        .content-blog-2,
        .content-blog-3 {
            -webkit-transform: translate(-44%, -35%);
            -moz-transform: translate(-44%, -35%);
            -ms-transform: translate(-44%, -35%);
            -o-tranform: translate(-44%, -35%);
            transform: translate(-44%, -35%);
            -webkit-transition: all 0.3s ease-in-out 0s;
            -moz-transition: all 0.3s ease-in-out 0s;
            -ms-transition: all 0.3s ease-in-out 0s;
            -o-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
        }
        .blog-img {
            height: 62vh;
        }
        .blog-img1 {
            height: 30vh;
        }
        .blog-img2 {
            height: 30vh;
        }
    }

    #blog-slider {
        
        .swiper-button-next {
            background-image: url(../assets/fleet-management/mobile-blogs/arrow-blog-next.svg);
            background-size: 32%;
            right: -37px;
            top: 50%;
            background-color: transparent;
            height: 30px;
            border-radius: 50%;
            width: 30px;
            @media screen and (max-width: 600px) {
                right: 0px;
            }
        }
        .swiper-button-prev {
            background-image: url(../assets/fleet-management/mobile-blogs/arrow-blog-prev.svg);
            background-size: 32%;
            left: -37px;
            top: 50%;
            background-color: transparent;
            height: 30px;
            border-radius: 50%;
            width: 30px;
            @media screen and (max-width: 600px) {
                left: 0px;
            }
        }
        
    }
}