#life-banner {
    width: 100%;
    height: 75vh;
    background-image: linear-gradient(rgba(20, 44, 79, 0.3), rgba(20, 44, 79, 0.3)), url(../assets/career/Careers-banner.png); // background-image: url('../assets/career/Careers-banner.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media only screen and (max-device-width: 1024px) and (min-device-width: 600px) and (orientation: portrait) {
        height: 60vh;
    }
    .banner-heading {
        font-family: 'Proximasemibold';
    }
    .white-para {
        @include paragraph(#fff,
        Proximathin,
        18px);
        line-height: 1.5;
        font-weight: normal;
        @media screen and (max-width: 600px) {
            font-size: 18px;
        }
        @media screen and (max-width: 320px) {
            font-size: 16px;
        }
    }
}

#emply-testimonial {
    .media {
        @media screen and (max-width: 600px) {
            margin-left: 10px;
        }
    }
    .arrow-down {
        width: 0;
        height: 0;
        bottom: 88px;
        left: 20px;
        position: absolute;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #fff;
    }
    .swiper-wrapper {
        // transform:translate3d(15px, 0px, 0px)!important;
    }
    .swiper-button-next {
        background-image: url(../assets/career/arrow-next.svg);
        background-size: 32%;
        right: -37px;
        top: 35%;
        background-color: #fff;
        height: 30px;
        border-radius: 50%;
        width: 30px;
        @media screen and (max-width: 600px) {
            right: 0px;
        }
    }
    .swiper-button-prev {
        background-image: url(../assets/career/arrow-prev.svg);
        background-size: 32%;
        left: -37px;
        top: 35%;
        background-color: #fff;
        height: 30px;
        border-radius: 50%;
        width: 30px;
        @media screen and (max-width: 600px) {
            left: 0px;
        }
    }
    blockquote {
        display: block;
        position: relative;
    }

    blockquote:before {
        content: '\201C';
        position: absolute; // bottom: 45px;
        left: 25px;
        transform: translate(-56%, -119%);
        background: transparent;
        width: 3rem;
        height: 2rem;
        font: 4em/1.08em 'PT Sans', sans-serif;
        color: #666;
        @media screen and (max-width: 600px) {
            // bottom: 80px;
        }
    }

    .swiper-container {
        width: 100%;
        height: 100%;
    } // .white-box:nth-child(1) {
    //     margin-right: 20px;
    // }
    // .white-box:nth-child(2) {
    //     margin-left: 20px;
    // }
    .white-box {
        background-color: #fff;
        padding: 60px 50px 30px 50px;
        border-radius: 8px;
        .subheading {
            font-size: 18px;
            text-align: left;
        }
    }
    .emp-info {
        text-align: left;
        h5.subheading {
            font-size: 20px;
            font-family: 'Proximasemibold';
        }
        p.subheading {
            font-size: 16px;
        }
    }
}

#hiring {
    p.subheading {
        font-size: 16px;
        text-align: center!important;
    }
    h5.subheading {
        font-size: 20px;
        font-family: 'Proximasemibold';
    }
    ul {
        li:nth-child(1) {
            border-bottom: none;
            border-left: none;
            border-right: none;
            border-top: none;
        }
        li:nth-child(2),
        li:nth-child(3) {
            border-bottom: none;
            border-left: none;
            border-right: none;
        }
        li:nth-child(4) {
            border-bottom: none;
            border-left: none;
            border-right: none; // border-top: none;
        }
        li {
            font-size: 18px;
            font-family: 'Proxima Nova';
            color: #4B555F;
            background-color: #F6FAFD;
            border: 2px solid #F0F8FD;
            padding: 1rem 2rem;
            a {
                color: #142C4F;
                font-family: 'Proximasemibold';
                font-size: 15px;
                text-decoration: underline;
            }
        }
    }
}

#why-us {
    .subheading {
        font-size: 16px;
    }
    .grid-container {
        display: grid;
        height: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 20px 20px;
        grid-template-areas: "one two" "one three";
    }

    .one {
        grid-area: 1 / 1 / 3 / 2;
        width: 100%;
        min-height: 70vh;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .two {
        grid-area: two;
    }

    .three {
        grid-area: three;
    }
    .second {

        .grid-container {
            display: grid;
            height: 100%;
            grid-template-columns: 1.3fr 0.7fr;
            grid-template-rows: 1fr;
            grid-gap: 1px 20px;
            grid-template-areas: "next-one next-two";
        }

        .next-one {
            grid-area: next-one;
            width: 100%;
            min-height: 60vh;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        .next-two {
            grid-area: next-two;
        }
    }
}