#career-idividual {
    #section1 {
        .career-indicontent {
            a {
                color: #142C4F;
                font-family: 'Proximasemibold';
                font-size: 18px;
                text-decoration: none;
                .fa-caret-left {
                    padding-right: 8px;
                }
                @media screen and (max-width: 768px) {
                    font-size: 15px;
                }
            }
            h1 {
                color: #4B555F;
                font-family: 'Proxima Nova';
                font-size: 36px;
                @media screen and (max-width: 768px) {
                    font-size: 30px;
                }
                span {
                    color: #9B9B9B;
                    font-family: 'Proximasemibold';
                    font-size: 18px;
                    vertical-align: middle;
                    @media screen and (max-width: 768px) {
                        font-size: 15px;
                    }
                }
            }

            ul {
                padding: 0px 20px;
                list-style: none;
                padding: 0;
                li {
                    position: relative;

                    margin: 0;
                    margin-bottom: 0.5em;
                    padding-left: 1.5em;
                    &:after {
                        content: '';
                        height: .4em;
                        width: .4em;
                        background: #4B555F;
                        display: block;
                        position: absolute;
                        transform: rotate(45deg);
                        top: .5em;
                        left: 0;
                    }
                    @media screen and (max-width: 768px) {
                        font-size: 15px;
                    }
                }
            }
        }
    }
    #section2 {
        .bgcolr-career {
            background-color: #F6FAFD;
            h2 {
                color: #4B555F;
                font-family: 'Proximasemibold';
                font-size: 24px;
                @media screen and (max-width: 768px) {
                    font-size: 18px;
                }
            }
            .career-contact {

                padding: 30px;
                 ::-webkit-input-placeholder {
                    /* Chrome/Opera/Safari */
                    color: #4B555F;
                    font-family: 'Proxima Nova';
                    font-size: 16px;
                }
                 ::-moz-placeholder {
                    /* Firefox 19+ */
                    color: #4B555F;
                    font-family: 'Proxima Nova';
                    font-size: 16px;
                }
                 :-ms-input-placeholder {
                    /* IE 10+ */
                    color: #4B555F;
                    font-family: 'Proxima Nova';
                    font-size: 16px;
                }
                 :-moz-placeholder {
                    /* Firefox 18- */
                    color: #4B555F;
                    font-family: 'Proxima Nova';
                    font-size: 16px;
                }
                .form-control {
                    border: none;
                    border-radius: 0;
                    border-bottom: 1px solid #979797;
                    background: transparent;
                    margin-bottom: 60px;
                    color: #4B555F;
                    font-family: 'Proxima Nova';
                    text-decoration: none;
                    outline: none;
                }
                .form-control:focus {
                    box-shadow: none;
                }
                .custom-file-upload {
                    input[type="file"] {
                        display: none;
                    }
                    display: inline-block;
                    padding: 6px 12px;
                    cursor: pointer;
                    .fa-paperclip {
                        float: right;
                        font-size: 15px;
                        position: relative;
                        bottom: 0px;
                        top: 5px;
                    }
                }
            }
        }
    }
}